# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# misc
.DS_Store

npm-debug.log*

#magento
/src/config/magento.js

#test
/test
